$cell-border-color: #c9c8c8;
$cell-text-color: #2d2d2d;
$cell-separator-color: darken($cell-border-color, 22%);

$cell-font-size: 16px;
$cell-font-size-large: 19px;

$cell-width: 7rem;
$cell-height: 3.6rem;
